@font-face {
  font-family: 'InterTight';
  src: url('../../fonts/InterTight/InterTight-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'InterTight';
  src: url('../../fonts/InterTight/InterTigh-norma;.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'InterTight';
  src: url('../../fonts/InterTight/InterTight-Medium.ttf');
  font-weight: 700;
  font-style: normal;
}
